.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App{
  background-image: url(https://www.pexels.com/video/luminous-digital-animation-with-tunnel-effect-11548675/);
}


