@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
body{
  background-color: #111827;
  /* text-gray-300 */
  color: rgb(209 213 219);
  font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}